version: "3"

services:
  app:
    container_name: ci_cd_analysis
    build: .
    volumes:
      - ./repos_commit_csv/:/usr/src/app/repos_commit_csv/
      - ./repos_dir/:/usr/src/app/repos_dir/
      - ./db:/usr/src/app/db
    environment:
      - SQLITE3_DB=db.sqlite3

